extends views/layouts/default

include views/mixins/footer-nav

block title 
  | My Process - Sustainable Lifestyle Design

block content
  article.l-main-content  
    section.l-my-process
      .row 
        header.l-my-process-header
          h1 My Process

      each step, index in process
        .m-process-wrapper
          .m-process-step-header-wrapper
            .m-process-step-header
              h2= index + 1 + ". " + step.name
          each substep in step.substeps
            //- If the substep is odd, add .odd
            if substep.id % 2 == 0
              .m-process-step-item.odd
                  .m-process-icon-content
                    .m-process-icon
                      img(src="images/" + substep.name + "-icon.svg", alt="", id=substep.name)
                  .m-process-copy-content
                    //- need to upcase first letter and humanize
                    h3 #{capitalize(humanize(substep.name))}
                    p #{substep.description}
                span.line(id=substep.name)
            else 
              .m-process-step-item
                .m-process-icon-content
                  .m-process-icon
                    img(src="images/" + substep.name + "-icon.svg", alt="", id=substep.name)
                .m-process-copy-content
                  //- need to upcase first letter and humanize
                  h3 #{capitalize(humanize(substep.name))}
                  p #{substep.description}
              span.line(id=substep.name)
      .row
        .l-my-process-footer    
          +footer-nav(
            'read my story',
            '/about.html',
            'view my inspiration',
            '/inspiration.html'
            )
